# Ignore common IDE and editor files
*.swp
*.swo
*.log
*.DS_Store
.idea
*.iml
.project
.classpath
.settings
/.vscode/**
!/.vscode/launch.json
*.code-workspace

# Ignore _local directory
_local

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
